
<mat-card class="table-card">

  <div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%" appearance="outline">
    <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Search Table">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  </div>
  <div fxLayoutAlign="end center">
    <button class="margin-up ml-2" mat-raised-button color="primary"
    (click)="exporter.exportTable('csv', {fileName: platformTable ? 'platform-data': 'user-data', Props: {Author: 'Maven'}})"
    >Export as CSV</button>
  </div>
  
  <mat-table matTableExporter [dataSource]="dataSource" @blub matSort class="my-table" #exporter="matTableExporter"
   [hiddenColumns]="[objectKeys(columnHeader).indexOf('action')]">
  <div *ngFor="let tableData of objectKeys(columnHeader); let i = index">
    <ng-container
      [matColumnDef]="tableData"
      *ngIf="
        tableData !== 'action' 
        && tableData !== 'last_shared'
        && !tableData.includes('shared_on_platform')">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{
        columnHeader[tableData]
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><span
          class="table-overflow {{ element[tableData] }}"
          >{{ element[tableData] }}</span
        ></mat-cell>
    </ng-container>
  </div>
  <ng-container matColumnDef="last_shared">
    <mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header>Last Shared</mat-header-cell>
    <mat-cell fxHide.lt-sm *matCellDef="let element"><span class="table-overflow">{{ element.last_shared | date: 'medium' }}</span></mat-cell>
  </ng-container>

    <ng-container *ngFor="let platform of dynamicPlatformObj" matColumnDef="{{platform}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Shared on {{getPlatformName(platform)}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <fa-icon matTooltip="Shared" class="shared" *ngIf="element.profile_shared[platform] === true" [icon]="faCheck"></fa-icon>
        <fa-icon matTooltip="Not Shared" class="not-shared" *ngIf="element.profile_shared[platform] === false" [icon]="faTimes"></fa-icon>
        <fa-icon matTooltip="Not Applicable" class="not-available" *ngIf="element.profile_shared[platform] === null" [icon]="faBan"></fa-icon>
        <span class="cdk-visually-hidden">
          {{ element.profile_shared[platform] === null ? 'Not Applicable' 
          : element.profile_shared[platform] === true ? 'YES' : 'NO' }}
        </span>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button  (click)="viewData(element)" mat-stroked-button
          class="table-button">
          View
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="objectKeys(columnHeader); sticky: true"></mat-header-row>
    <mat-row @fadeOut *matRowDef="let row; columns: objectKeys(columnHeader)"></mat-row>
  
  </mat-table>
  
  <mat-paginator #paginator 
  [pageSize]="20" 
  [pageSizeOptions]="[20, 50, 100]">
  </mat-paginator>
  </mat-card>