a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }

  .active-route {
    border-bottom: 3px solid;
    padding-bottom: 4px;
  }

  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-caption {
    display: inline-block;
    padding-left: 6px;
  
  }