
<mat-card>

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%" appearance="outline">
  <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Search Table">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
</div>


<div fxLayoutAlign="end center">
  <button class="margin-up ml-2" mat-raised-button color="primary"
  (click)="export()"
  >Export as CSV</button>
</div>

<mat-table [dataSource]="dataSource" @blub *ngIf="dataSource.data.length"
matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let element"><span class="table-overflow">{{ element.id }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
    <mat-cell *matCellDef="let element"><span class="table-overflow">{{ element.first_name }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let element"><span class="table-overflow">{{ element.last_name }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell fxHide.lt-sm *matCellDef="let element"><span class="table-overflow">{{ element.email }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
    <mat-cell fxHide.lt-sm *matCellDef="let element"><span class="table-overflow">{{ element.gender}}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="ip_address">
    <mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header>IP Address</mat-header-cell>
    <mat-cell fxHide.lt-sm *matCellDef="let element"><span class="table-overflow">{{ element.ip_address}}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
    <mat-cell fxHide.lt-sm *matCellDef="let element"><span class="table-overflow">{{ element.username}}</span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="platform1">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Shared on Dazzlesphere</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon matTooltip="Shared" class="shared" *ngIf="element.profile_shared.shared_on_platform_1 === true">done</mat-icon>
      <mat-icon matTooltip="Not Shared" class="not-shared" *ngIf="element.profile_shared.shared_on_platform_1 === false">clear</mat-icon>
      <mat-icon matTooltip="Not Applicable" class="not-available" *ngIf="element.profile_shared.shared_on_platform_1 === null">block</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="platform2">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Shared on Yabox</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon matTooltip="Shared" class="shared" *ngIf="element.profile_shared.shared_on_platform_2 === true">done</mat-icon>
      <mat-icon matTooltip="Not Shared" class="not-shared" *ngIf="element.profile_shared.shared_on_platform_2 === false">clear</mat-icon>
      <mat-icon matTooltip="Not Applicable" class="not-available" *ngIf="element.profile_shared.shared_on_platform_2 === null">block</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="platform3">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Shared on Kwideo</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon matTooltip="Shared" class="shared" *ngIf="element.profile_shared.shared_on_platform_3 === true">done</mat-icon>
      <mat-icon matTooltip="Not Shared" class="not-shared" *ngIf="element.profile_shared.shared_on_platform_3 === false">clear</mat-icon>
      <mat-icon matTooltip="Not Applicable" class="not-available" *ngIf="element.profile_shared.shared_on_platform_3 === null">block</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button  (click)="view(element.id)" mat-stroked-button
        class="table-button">
        View
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row @fadeOut *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator 
[pageSize]="20" 
[pageSizeOptions]="[20, 50, 100]">
</mat-paginator>
</mat-card>